*{
    margin: 0;
    box-sizing: border-box;
    font-family: myfirstfont;
}

header{
    background-color: #0020F4;  
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 800px;
    column-gap: 200px;
}

.main ::before{
    content: "";
    background-color: #ffffff;
    color: #ffffff;
    height: 2px;
    width: 40px;
    position: fixed;
    margin-top: 35px;
    margin-left: 15px;
    border-radius: 25px;
    position: absolute;
    
}

@font-face {
    font-family: myFirstFont;
    src: url(/fonts/Helvetica\ Neue\ UltraLight.ttf);
    font-weight: bold;
  }


li{
    list-style-type: none;
    display: inline-block;
    padding-left: 50px;
}

a{
    text-decoration: none;
    color: #ffffff;
}

.contact{
    background-color: #ffffff;
    border-radius: 45px;
    display: inline-block;
    color: black;
    padding-top: 18px;
    padding-left: 43px;
    padding-bottom: 18px;
    padding-right: 43px;
}   

.contact-a{
    color: black;
}

.main-imgs{
    position: absolute;
    margin-top: -800px;
}

.main-img1{
    max-width: 550px;
    height: 420px;
    padding-right: 20px;
    margin-left: 178px;
    margin-bottom: 80px;
}

.main-img2{
    margin-top: 40px;
    max-width: 1100px;
    max-height: 1000px;
}

.logo{
    margin-left: 17px;
    position: absolute;
}

ul{
    padding-top: -100px;
    position: relative;
    padding-left: 400px;

}

nav div{
    display: inline-block;
}







