        /* lasha gorakudashvili(footer) */
@font-face {
    font-family: "HelveticaNeue-Bold-ttf";
    src: url("assets/fonts/HelveticaNeue-Bold.ttf");
}

html,
body {
    max-width: 100%;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

.footer {
    background-color: #0A22F4;
    padding: 100px;
    padding-bottom: 80px;
    position: static;
}

.projects {
    color: #FFFFFF;
    margin-left: 85px;
    transform: translatey(-200%);
    font-family: Arial, Helvetica, sans-serif;
    display: inline-block;
}

.circle-1 {
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: white;
    margin-top: -80px;
    margin-left: 1145px;
    position: absolute;
}

.circle-2 {
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: grey;
    margin-top: -80px;
    margin-left: 1165px;
    position: absolute;
}

.circle-3 {
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: grey;
    margin-top: -80px;
    margin-left: 1185px;
    position: absolute;
}

.Rectangle-18 {
    width: 100%;
    max-width: 370px;
    max-height: 270px;
    margin-top: -5px;
    margin-left: 118px;
    border-radius: 2%;
    position: absolute;
}

.Rectangle-19 {
    width: 100%;
    max-width: 440px;
    height: 330px;
    margin-top: -65px;
    margin-left: 470px;
    border-radius: 2%;
    position: absolute;
}

.Rectangle-20 {
    width: 100%;
    max-width: 350px;
    max-height: 272px;
    margin-top: -5px;
    margin-left: 890px;
    border-radius: 2%;
    position: absolute;
}

.Rectangle-21 {
    width: 100%;
    max-width: 320px;
    height: 273px;
    margin-top: -5px;
    margin-left: 1258px;
    border-radius: 2%;
    position: absolute;
}

.other-projects {
    margin-left: 1083px;
    transform: translatey(1660%);
    position: absolute;
    font-size: 15px;
    text-decoration: none;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

.vertical-line {
    border-left: 2px solid rgb(152, 150, 150);
    margin-left: 1072px;
    margin-top: 324px;
    height: 14px;
    position: absolute;
}

.us {
    position: absolute;
    margin-top: 155px;
    max-width: 357px;
    margin-left: 125px;
    background-color: #FFFFFF;
    border-radius: 5px;
    padding: 20px 20px 20px 20px;
    font-size: 16px;
    opacity: 0.8;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif
}

.on-going {
    position: absolute;
    margin-top: 120px;
    max-width: 357px;
    margin-left: 511px;
    background-color: #FFFFFF;
    border-radius: 5px;
    padding: 20px 20px 20px 20px;
    font-size: 16px;
    opacity: 0.8;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif
}

.which {
    position: absolute;
    margin-top: 155px;
    max-width: 335px;
    margin-left: 897px;
    background-color: #FFFFFF;
    border-radius: 5px;
    padding: 20px 20px 20px 20px;
    font-size: 16px;
    opacity: 0.8;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif
}

.build {
    margin-top: 155px;
    max-width: 350px;
    margin-left: 1125px;
    background-color: #FFFFFF;
    border-radius: 5px;
    padding: 20px 20px 20px 20px;
    font-size: 16px;
    opacity: 0.8;
    text-align: left;
    position: absolute;
    display: inline-block;
    transform: translateX(50%);
    font-family: Arial, Helvetica, sans-serif
}

.wrapper {
    margin-left: -80px;
}

        /* lasha gorakudashvili(footer) */

 
 
    /* header */
* {
    margin: 0;
    box-sizing: border-box;
    font-family: myfirstfont;
}

header {
    background-color: #0020F4;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 800px;
    column-gap: 200px;
}

.main ::before {
    content: "";
    background-color: #ffffff;
    color: #ffffff;
    height: 2px;
    width: 40px;
    position: fixed;
    margin-top: 35px;
    margin-left: 15px;
    border-radius: 25px;
    position: absolute;

}

@font-face {
    font-family: myFirstFont;
    src: url(/fonts/Helvetica\ Neue\ UltraLight.ttf);
    font-weight: bold;
}


li {
    list-style-type: none;
    display: inline-block;
    padding-left: 50px;
}

a {
    text-decoration: none;
    color: #ffffff;
}

.contact {
    background-color: #ffffff;
    border-radius: 45px;
    display: inline-block;
    color: black;
    padding-top: 18px;
    padding-left: 43px;
    padding-bottom: 18px;
    padding-right: 43px;
}

.contact-a {
    color: black;
}

.main-imgs {
    position: absolute;
    margin-top: -800px;
}

.main-img1 {
    max-width: 550px;
    height: 420px;
    padding-right: 20px;
    margin-left: 178px;
    margin-bottom: 80px;
}

.main-img2 {
    margin-top: 40px;
    max-width: 1100px;
    max-height: 1000px;
}

.logo {
    margin-left: 17px;
    position: absolute;
}

ul {
    padding-top: -100px;
    position: relative;
    padding-left: 400px;

}

nav div {
    display: inline-block;
}
    /* header */

/* saba kareli */

.styles {
    position: relative;
    
}

.styles img {
    width: 707px;
    
}

.styles h2 {
    margin-top: 180px;
    margin-left: 240px;
}

.styles p {
    display: inline-block;
}

.styles p {
    max-width: 463px;
    height: 385px;
    margin-left: 240px;
    margin-top: 180px;
    
}

.section2 {
    position: relative;
}

.section2 img {
    max-width: 707px;
    margin-left: 350px;
    margin-top: -450px;
    margin-bottom: 100px;
}

.section2 h2 {
    margin-top: 180px;
    margin-left: 900px;
}

.section2 p {
    display: inline-block;
}

.section2 p {
    max-width: 463px;
    height: 385px;
    margin-left: 820px;
    margin-top: 100px;
    color: #171717;
}


